@model TeamStore.ViewModels.ProjectViewModel
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    @Html.Hidden("projectId", Model.Id, new { @id = "projectId" })
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
    </dl>
    <div>
        <a asp-action="Share" asp-route-id="@Model.Id">Share Access</a> |
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="CreateCredential" asp-route-id="@Model.Id">Create Credential</a> |
        <a asp-action="CreateNote" asp-route-id="@Model.Id">Create Note</a>
    </div>
    <h4>Access Details</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Identity</th>
                <th>Role</th>
                <th>Last Modified</th>
                <th>Actions</th>
            </tr>
        </thead>
        @foreach (var item in Model.AccessList)
        {
            <tr>
                <td>@item.DisplayName (@item.Upn)</td>
                <td>@item.Role</td>
                <td>@item.LastModified</td>
                <td>
                    @Html.ActionLink("Revoke Access", "RevokeAccess", new { id = Model.Id, upn = item.Upn }, new { @id = "btnDelete" })
                </td>
            </tr>
        }
    </table>
    <h4>Assets</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Asset name</th>
                <th>Login</th>
                <th>Password</th>
                <th>Notes</th>
                <th>Created</th>
                <th>Created By</th>
                <th>Modified</th>
                <th>Modified By</th>
                <th>Actions</th>
            </tr>
        </thead>
        @foreach (var item in Model.AssetsList)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.DisplayTitle, "Details", "Projects", null)
                </td>
                <td>
                    <button class="ob-copyIcon ob-pointer" data-id="@item.AssetId" data-type="login">
                        <i class="fa fa-clipboard" title="Copy login to clipboard"></i>
                    </button>
                    @item.Login
                </td>
                <td>
                    <button class="ob-copyIcon ob-pointer" data-id="@item.AssetId" data-type="password">
                        <i class="fa fa-clipboard" title="Copy password to clipboard"></i>
                    </button>
                    <span class="ob-passwordLabel ob-pointer" data-id="@item.AssetId" title="Click to reveal password">
                        ******
                    </span>
                </td>
                <td>@item.Notes</td>
                <td>@item.Created</td>
                <td>@item.CreatedBy</td>
                <td>@item.Modified</td>
                <td>@item.ModifiedBy</td>
                <td>
                    Change Password | 
                </td>
            </tr>
        }
    </table>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<div class="hidden">
    @Html.AntiForgeryToken()
</div>