@model TeamStore.ViewModels.ProjectViewModel
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<p>
    <a asp-action="Share" asp-route-id="@Model.Id">Share Access</a>
</p>
<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
    </dl>
    <h4>Access Details</h4>
    <table>
        @foreach (var item in Model.AccessList)
        {
            <tr>
                <td>@item.DisplayName (@item.Upn) </td>
                <td>
                    @Html.ActionLink("Revoke Access", "RevokeAccess", new { id = Model.Id, upn = item.Upn }, new { @id = "btnDelete" })
                </td>
            </tr>
        }
    </table>
    <h4>Assets</h4>
    <table>
        @foreach (var item in Model.AssetsList)
        {
            <tr>
                <td>@item.DisplayTitle</td>
                <td>@item.Created</td>
                <td>@item.CreatedBy</td>
                <td>@item.Modified</td>
                <td>@item.ModifiedBy</td>
                <td>@item.IsArchived</td>
            </tr>
        }
    </table>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <a asp-action="CreateCredential" asp-route-id="@Model.Id">Create Credential</a> |
    <a asp-action="CreateNote" asp-route-id="@Model.Id">Create Note</a>
</div>
