@model TeamStore.DevUI.ViewModels.UpdatePasswordViewModel

@{
    ViewData["Title"] = "UpdatePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Update Password</h2>
<h4>Project - @Model.ProjectTitle</h4>
<h4>Credential - @Model.AssetTitle</h4>
<h4>Login - @Model.Login</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdatePassword" asp-route-projectId="@Model.ProjectId" asp-route-assetId="@Model.AssetId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" autocomplete="off" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update Password" class="btn btn-default" />
            </div>
            @Html.HiddenFor(m => m.ProjectId)
            @Html.HiddenFor(m => m.AssetId)
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
